<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <!-- <h1 id="h1">Welcome,{{name}} <br> You're {{age}} Years Old <br>You're {{nationality}} </h1>
    <button id="refresh-btn" onclick="location.reload()">Refresh</button> -->
    <h1>Input Your Text Below: </h1>
    <form method="">
        <textarea name="words" id="text" rows="25" cols="100"></textarea><br>
        <input type="submit" />
    </form>
</body>
</html>